* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bgImg {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    filter: brightness(50%);
    z-index: -1;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 20px;
    width: 80vw;
    margin: auto;
}

.signInBtn button {
    padding: 8px 15px;
    background-color: #d21313;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

.lang-opt select {
    padding: 6px 30px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    background: transparent;
    
}

.options-and-signIn {
    display: flex;
    gap: 20px;
}


.langImg {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(199deg) brightness(106%) contrast(101%);
    position: relative;
    left: 30px;
    top: 2px;
}

.logoImg {
    filter: invert(18%) sepia(80%) saturate(3362%) hue-rotate(354deg) brightness(92%) contrast(95%);
    width: 150px;
}

.hero {
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    line-height: 1.4cm;
}

.hero h1 {
    color: white;
    font-size: 50px;
    font-weight: 800;
}

.hero>h2 {
    color: white;
    font-size: 25px;
    font-weight: normal;
}

.membership-signup>h2 {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.membership-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usr-signup-btn {
    font-size: 25px;
    padding: 10px 20px 15px 20px;
    background-color: #d21313;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.signup-container {
    display: flex;
    gap: 5px;
    position: relative;
}

.usr-signup-btn>span {
    font-size: 30px;
    position: relative;
    top: 6px;
}

.usr-signup-input {
    width: 390px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    background-color: rgba(10, 10, 10, 0.6);
    border: 1px solid gray;
    color: white;
}

.signup-container>label {
    color: rgba(255, 255, 255, 0.733);
    position: absolute;
    top: 5px;
    left: 15px;
}

.usr-signup-input:focus+label {
    transform: scale(.8) translateY(-20px) translateX(-10px);
    transition: transform .5s;
}

.usr-signup-input:not(:focus)+label {
    /* transform: translateY(5px) translateX(10px); */
    transition: transform .5s;
}